<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <button><a href="{% url 'addBlog' %}">ADD Blog</a></button>
    <div>
        {% for sample in blogs %}
        <li> {{sample.title}}</li>
            <p>{{sample.description}}</p>
    <button><a href="{% url 'editblog' sample.id %}">EDIT Blog</a></button>
        {% endfor %}

    </div>
</body>
</html>