{% extends 'base.html' %}

{% block content %}
    <h1>list to display</h1>
    <ul>
        <!-- iterate over object list -->
         {% for object in object_list %}
         <li>{{ object.title }}</li>
         <li>{{ object.description }}</li>
        <a href="{% url 'detail' object.id %}" class="btn btn-outline-dark me-2">Read More</a>
        <a href="{% url 'update' object.id %}" class="btn btn-outline-dark me-2">edit</a>

         <hr/>
         {% empty %}
         <li> No onjects yet .</li>
         {% endfor %}
    </ul>
                <a href="{% url 'home' %}" class="btn btn-outline-dark me-2">Back</a>

{% endblock %}