{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <script src="{% static 'js/app.js' %}" defer></script> -->
</head>
<body>
    <h1>Foods</h1>
    {% for food in object_list %}
        <li class="list">{{food.name}}
            <p>{{food.description}}</p>
        </li>
    {% endfor %}
    <a href="{% url 'add_food' %}"><button>add food</button></a>
</body>
</html>